In [1]:
import json
import pandas as pd

In [2]:
# Load JSON
with open('data/raw/abstracts_sessions_authors_topics.json') as f:
    data = json.load(f)

# Convert to DataFrame
df_raw = pd.DataFrame(data)

In [3]:
# Quick overview
print(df_raw.info())
print(df_raw.describe(include='all'))  # includes categorical stats
print(df_raw.head())

# Example: count by category
if 'category' in df_raw.columns:
    print(df_raw['category'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7604 entries, 0 to 7603
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7604 non-null   int64
 1   title             7604 non-null   object
 2   submission_date   7604 non-null   object
 3   publication_date  0 non-null      object
 4   language_ref      7604 non-null   int64
 5   content_raw       7598 non-null   object
 6   content           7604 non-null   object
 7   word_count        0 non-null      object
 8   keywords          0 non-null      object
 9   topic_id          7604 non-null   int64
 10  topic_title       7604 non-null   object
 11  session_id        7604 non-null   int64
 12  session_title     7604 non-null   object
 13  authors           7604 non-null   object
dtypes: int64(4), object(10)
memory usage: 831.8+ KB
None
                 id                               title      submission_date  \
count   7604.000000                                7604                 7604
unique          NaN                                4103                  133
top             NaN  Psychopathology of Time Experience  2017-02-08T00:00:00
freq            NaN                                  12                  817
mean    2165.649001                                 NaN                  NaN
std     1324.479820                                 NaN                  NaN
min        1.000000                                 NaN                  NaN
25%     1044.750000                                 NaN                  NaN
50%     2073.000000                                 NaN                  NaN
75%     3056.250000                                 NaN                  NaN
max     4871.000000                                 NaN                  NaN

       publication_date  language_ref content_raw content word_count keywords  \
count                 0   7604.000000        7598    7604          0        0
unique                0           NaN        2449    2450          0        0
top                 NaN           NaN              a:0:{}        NaN      NaN
freq                NaN           NaN        3685    3685        NaN      NaN
mean                NaN    254.881378         NaN     NaN        NaN      NaN
std                 NaN      0.323364         NaN     NaN        NaN      NaN
min                 NaN    254.000000         NaN     NaN        NaN      NaN
25%                 NaN    255.000000         NaN     NaN        NaN      NaN
50%                 NaN    255.000000         NaN     NaN        NaN      NaN
75%                 NaN    255.000000         NaN     NaN        NaN      NaN
max                 NaN    255.000000         NaN     NaN        NaN      NaN

           topic_id          topic_title   session_id  \
count   7604.000000                 7604  7604.000000
unique          NaN                   43          NaN
top             NaN  Affective disorders          NaN
freq            NaN                  459          NaN
mean      18.955550                  NaN   620.658469
std       11.639353                  NaN   333.415495
min        1.000000                  NaN     1.000000
25%        9.000000                  NaN   337.000000
50%       18.000000                  NaN   588.000000
75%       26.000000                  NaN   927.000000
max       44.000000                  NaN  1242.000000

                                      session_title authors
count                                          7604    7604
unique                                          916    4122
top     Prevention, health care policy and research      []
freq                                             36      23
mean                                            NaN     NaN
std                                             NaN     NaN
min                                             NaN     NaN
25%                                             NaN     NaN
50%                                             NaN     NaN
75%                                             NaN     NaN
max                                             NaN     NaN
     id                                              title  \
0    10  Psychiatry in National Socialism: remembrance ...
1  1477  Mortality in severe mental illness: first time...
2  1477  Mortality in severe mental illness: first time...
3  2383  The society of German neurologists and psychia...
4    52  Confronting the Nazi era # lessons from the Ge...

       submission_date publication_date  language_ref  \
0  2016-09-22T00:00:00             None           255
1  2017-02-01T00:00:00             None           255
2  2017-02-01T00:00:00             None           255
3  2017-02-08T00:00:00             None           255
4  2016-11-17T00:00:00             None           255

                                         content_raw  \
0  <objective>More than 400,000 people were forci...
1  <objective>International research has shown in...
2  <objective>International research has shown in...
3
4  <objective>Psychiatrists play a dual role in t...

                                             content word_count keywords  \
0  a:3:{s:9:"objective";s:448:"More than 400,000 ...       None     None
1  a:3:{s:9:"objective";s:553:"International rese...       None     None
2  a:3:{s:9:"objective";s:553:"International rese...       None     None
3                                             a:0:{}       None     None
4  a:3:{s:9:"objective";s:755:"Psychiatrists play...       None     None

   topic_id                                        topic_title  session_id  \
0        28                 History, art and cultural sciences          10
1        15           Cross-disorder mechanisms and principles         343
2         9  Comorbidity of somatic and mental disorders, p...         343
3        28                 History, art and cultural sciences         620
4        26                              Ethics and philosophy          94

                                       session_title  \
0  Psychiatry in National Socialism: remembrance ...
1  Increased morbidity and mortality among patien...
2  Increased morbidity and mortality among patien...
3  DGPPN anniversary symposium: Psychiatric profe...
4  Psychiatry and national security: challenges i...

                                             authors
0  [{'inserted': '2017-08-30T18:21:49', 'updated'...
1  [{'inserted': '2017-08-30T18:40:29', 'updated'...
2  [{'inserted': '2017-08-30T18:40:29', 'updated'...
3  [{'inserted': '2017-08-30T18:51:42', 'updated'...
4  [{'inserted': '2017-08-30T18:22:27', 'updated'...

In [4]:
print(df_raw['authors'].iloc[0])

[{'inserted': '2017-08-30T18:21:49', 'updated': '2025-04-06T20:19:55', 'owner_ref': 0, 'last_editor_ref': 2, 'state_key': '', 'deleted': 0, 'version_number': 1, 'transaction_number': 0, 'sequence': 1, 'participant_ref': 2869, 'academicdegree': 'Prof. Dr. Dr.', 'affiliationorganisation': '2869', 'affiliationcity': 'Aachen', 'affiliationcountry_ref': 83, 'external_identifiers': None, 'cpo__co2_id': None, 'cpo__sinner_id': 511, 'author_id': 10}]

In [5]:
# CHECK AUTHOR DUPLICATES
# Step 1: Make a shallow copy of the authors column only (won't affect the original df)
authors_col = df_raw["authors"]

# Step 2: Check length of each list (i.e., number of authors)
author_counts = authors_col.apply(lambda x: len(x) if isinstance(x, list) else 0)

# Step 3: Analyze
has_multiple_authors = (author_counts > 1).any()
num_entries_with_multiple_authors = (author_counts > 1).sum()

print("Any entries with multiple authors:", has_multiple_authors)
print("Number of such entries:", num_entries_with_multiple_authors)

Any entries with multiple authors: False
Number of such entries: 0

In [6]:
def convert_object_columns_to_string(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            # Drop nulls and check if all remaining values are strings
            non_null = df[col].dropna()
            if non_null.map(type).eq(str).all():
                df[col] = df[col].astype('string')
    return df

# Filter out rows with empty author lists before exploding
df_temp = df_raw[df_raw['authors'].map(lambda x: len(x) > 0 if isinstance(x, list) else False)].copy()

# Explode the lists so each author dict becomes its own row
df_exploded = df_temp.explode('authors').reset_index(drop=True)

# Normalize the dicts into columns
authors_normalized = pd.json_normalize(df_exploded['authors'])

# Combine back with any submission-level info if needed:
# e.g., keep submission id or title alongside author details
df = pd.concat(
    [df_exploded.drop(columns=['authors']).reset_index(drop=True),
     authors_normalized.reset_index(drop=True)],
    axis=1
)

print(df["external_identifiers"].value_counts())

columns_to_drop = ['submission_date', 'publication_date', 'content', 'word_count',
                   'keywords', 'inserted', 'updated', 'owner_ref', 'last_editor_ref',
                   'state_key', 'deleted', 'version_number', 'transaction_number',
                   'sequence', 'external_identifiers', 'cpo__co2_id', 'cpo__sinner_id']
df = df.drop(columns = columns_to_drop, axis=1)

df = convert_object_columns_to_string(df)

Series([], Name: count, dtype: int64)

In [7]:
# Convert "language_ref" to "language" (int to String)
df.rename(columns={'language_ref': 'language'}, inplace=True)

language_map = {
    254: 'German',
    255: 'English'
}

df['language'] = df['language'].map(language_map)
df['language'] = df['language'].astype('string')

In [8]:
# Check country codes

# Drop rows where either city or country_ref is missing
df_geo = df.dropna(subset=['affiliationcity', 'affiliationcountry_ref'])

# Group by country code and city, count occurrences
city_counts = (
    df_geo.groupby(['affiliationcountry_ref', 'affiliationcity'])
    .size()
    .reset_index(name='count')
)

# For each country code, get the top 2 most common cities
top_cities_by_country = (
    city_counts
    .sort_values(['affiliationcountry_ref', 'count'], ascending=[True, False])
    .groupby('affiliationcountry_ref')
    .head(2)
)

# Print result nicely
for country_code, group in top_cities_by_country.groupby('affiliationcountry_ref'):
    print(f"Country code {int(country_code)}:")
    for _, row in group.iterrows():
        print(f"  {row['affiliationcity']} ({row['count']} times)")
    print()

Country code 3:
  Tirana (8 times)
  Lezhe (1 times)

Country code 4:
  Annaba (1 times)

Country code 11:
  Buenos Aires (51 times)
  Rosario (5 times)

Country code 12:
  Yerevan (3 times)

Country code 14:
  Sydney (40 times)
  Melbourne (20 times)

Country code 15:
  Vienna (86 times)
  Wien (38 times)

Country code 16:
  Bakou (3 times)

Country code 18:
  Manama (3 times)

Country code 19:
  Dhaka (5 times)
  Rajshahi (1 times)

Country code 21:
  Minsk (8 times)

Country code 22:
  Kortenberg (9 times)
  Brussels (7 times)

Country code 29:
  Tuzla (7 times)
  Sarajevo (5 times)

Country code 32:
  São Paulo (29 times)
  Porto Alegre (23 times)

Country code 35:
  Plovdiv (4 times)

Country code 41:
  Toronto (56 times)
  Vancouver (32 times)

Country code 45:
  Santiago de Chile (23 times)
  Santiago (7 times)

Country code 46:
  Beijing (9 times)
  Shanghai (8 times)

Country code 49:
  Medellin (9 times)
  Bogota (5 times)

Country code 54:
  San Jose (5 times)

Country code 56:
  Zagreb (14 times)
  Rijeka (3 times)

Country code 57:
  Havana (1 times)

Country code 59:
  Larnaka (3 times)

Country code 60:
  Prague (5 times)
  Pilsen (3 times)

Country code 61:
  Copenhagen (32 times)
  Frederiksberg (12 times)

Country code 64:
  Santo Domingo (1 times)

Country code 65:
  Guayaquil (1 times)

Country code 66:
  Cairo (75 times)
  Heliopolis, Cairo (10 times)

Country code 67:
  San Salvador (1 times)

Country code 70:
  Tartu (2 times)

Country code 75:
  Helsinki (16 times)
  Turku (6 times)

Country code 76:
  Paris (48 times)
  Montpellier (12 times)

Country code 82:
  Tbilisi (13 times)
  Rustavi (2 times)

Country code 83:
  Berlin (468 times)
  München (173 times)

Country code 84:
  Kumasi (1 times)

Country code 86:
  Athens (41 times)
  Thessaloniki (13 times)

Country code 87:
   (1 times)

Country code 91:
   (1 times)

Country code 100:
   (4 times)
  Hong Kong (2 times)

Country code 101:
  Budapest (17 times)
  Szeged (1 times)

Country code 102:
  Reykjavik (5 times)

Country code 103:
  New Delhi (50 times)
  Bangalore (28 times)

Country code 104:
  Jakarta (4 times)
  Amuntai (1 times)

Country code 105:
  Tehran (10 times)
  Birjand (2 times)

Country code 107:
  Dublin (25 times)
  Galway (2 times)

Country code 109:
  Tel Aviv (16 times)
  Petah Tiqva (6 times)

Country code 110:
  Brescia (31 times)
  Rome (26 times)

Country code 112:
  Tokyo (37 times)
  Fukuoka (6 times)

Country code 115:
   (3 times)

Country code 116:
  Nairobi (7 times)

Country code 119:
  Seoul (21 times)
  Bucheon (1 times)

Country code 121:
  Bishkek (7 times)

Country code 123:
  Riga (4 times)
  Daugavpils (1 times)

Country code 124:
  Beirut (5 times)
   (1 times)

Country code 129:
  Vilnius (5 times)
   (2 times)

Country code 130:
  Esch-sur-Alzette (3 times)
  Strassen (1 times)

Country code 131:
  Macau (1 times)

Country code 132:
  Skopje (9 times)

Country code 135:
  Kuala Lumpur (3 times)
  Cyberjaya (1 times)

Country code 137:
  Bamako (1 times)

Country code 138:
  Msida MSD 2080 (3 times)

Country code 144:
  San Luis Potosí (10 times)
  Ciudad de México (7 times)

Country code 146:
  Chisinau (4 times)

Country code 149:
  Kotor (1 times)

Country code 151:
  Casablanca (15 times)
  Marrakech (3 times)

Country code 152:
  Braga (3 times)
  Maputo (3 times)

Country code 153:
  Yangon (1 times)

Country code 156:
  Lalitpur (3 times)
  Kathmandu (1 times)

Country code 157:
  Amsterdam (58 times)
  Utrecht (21 times)

Country code 159:
  Auckland (12 times)
  Christchurch (3 times)

Country code 162:
  Ile-Ife (16 times)
  Lagos (4 times)

Country code 166:
  Oslo (19 times)
  Trondheim (5 times)

Country code 168:
  Karachi (8 times)
  Peshawar (6 times)

Country code 170:
  Bethlehem (1 times)

Country code 171:
  Panama City (2 times)
  Panamá (1 times)

Country code 173:
  Asunción (4 times)

Country code 174:
  Lima (11 times)

Country code 175:
  Manila (1 times)
  Metro Manila (1 times)

Country code 177:
  Wroclaw (8 times)
  Katowice (7 times)

Country code 178:
  Porto (17 times)
  Lisbon (14 times)

Country code 180:
  Doha (4 times)

Country code 182:
  Bucharest (3 times)
   (1 times)

Country code 183:
  Moscow (48 times)
  St. Petersburg (15 times)

Country code 197:
  Belgrade (20 times)
  Nis (5 times)

Country code 200:
  Singapore (8 times)

Country code 202:
   (1 times)

Country code 203:
  Ljubljana (5 times)
  Maribor (3 times)

Country code 206:
  Pretoria (4 times)
  Cape Town (2 times)

Country code 209:
  Barcelona (58 times)
  Madrid (28 times)

Country code 210:
  Colombo (10 times)
  Colombo 2 (3 times)

Country code 211:
   (2 times)

Country code 215:
  Stockholm (37 times)
  Gothenburg (4 times)

Country code 216:
  Bern (78 times)
  Basel (54 times)

Country code 218:
  Kaohsiung (9 times)
  Tainan (3 times)

Country code 221:
  Hat Yai, (3 times)
  Bangkok (2 times)

Country code 227:
  Manouba (24 times)
  Tunis (5 times)

Country code 228:
  Istanbul (43 times)
  Kocaeli (11 times)

Country code 232:
  Kampala (1 times)

Country code 233:
  Kyiv (15 times)
  Kharkiv (8 times)

Country code 234:
  Dubai (2 times)

Country code 235:
  London (304 times)
  Oxford (40 times)

Country code 236:
  New York, NY (60 times)
  New York (58 times)

Country code 239:
  Tashkent (3 times)

Country code 241:
  Caracas (3 times)

In [9]:
country_code_map = {3: "Albania", 4: "Algeria", 11: "Argentina", 12: "Armenia", 14: "Australia",
                    15: "Austria", 16: "Azerbaijan", 18: "Bahrain", 19: "Bangladesh", 21: "Belarus",
                    22: "Belgium", 29: "Bosnia and Herzegovina", 32: "Brazil", 35: "Bulgaria",
                    41: "Canada", 45: "Chile", 46: "China", 49: "Colombia", 54: "Costa Rica",
                    56: "Croatia", 57: "Cuba", 59: "Cyprus", 60: "Czech Republic", 61: "Denmark",
                    64: "Dominican Republic", 65: "Ecuador", 66: "Egypt", 67: "El Salvador", 70: "Estonia",
                    75: "Finland", 76: "France", 82: "Georgia", 83: "Germany", 84: "Ghana", 86: "Greece",
                    87: "Unknown", 91: "Unknown", 100: "Hong Kong", 101: "Hungary", 102: "Iceland",
                    103: "India", 104: "Indonesia", 105: "Iran", 107: "Ireland", 109: "Israel",
                    110: "Italy", 112: "Japan", 115: "Unknown", 116: "Kenya", 119: "South Korea",
                    121: "Kyrgyzstan", 123: "Latvia", 124: "Lebanon", 129: "Lithuania", 130: "Luxembourg",
                    131: "Macau", 132: "North Macedonia", 135: "Malaysia", 137: "Mali", 138: "Malta",
                    144: "Mexico", 146: "Moldova", 149: "Montenegro", 151: "Morocco", 152: "Mozambique",
                    153: "Myanmar", 156: "Nepal", 157: "Netherlands", 159: "New Zealand", 162: "Nigeria",
                    166: "Norway", 168: "Pakistan", 170: "Palestine", 171: "Panama", 173: "Paraguay",
                    174: "Peru", 175: "Philippines", 177: "Poland", 178: "Portugal", 180: "Qatar",
                    182: "Romania", 183: "Russia", 197: "Serbia", 200: "Singapore", 202: "Unknown",
                    203: "Slovenia", 206: "South Africa", 209: "Spain", 210: "Sri Lanka", 211: "Unknown",
                    215: "Sweden", 216: "Switzerland", 218: "Taiwan", 221: "Thailand", 227: "Tunisia",
                    228: "Turkey", 232: "Uganda", 233: "Ukraine", 234: "United Arab Emirates",
                    235: "United Kingdom", 236: "United States", 239: "Uzbekistan", 241: "Venezuela"
}

df = df.rename(columns={'affiliationcountry_ref': 'affiliationcountry'})

df['affiliationcountry'] = (
    df['affiliationcountry'].map(country_code_map).astype('string')
)

In [10]:
print(df.info())
print(df.describe(include='all'))  # includes categorical stats
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7581 entries, 0 to 7580
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7581 non-null   int64
 1   title                    7581 non-null   string
 2   language                 7581 non-null   string
 3   content_raw              7575 non-null   string
 4   topic_id                 7581 non-null   int64
 5   topic_title              7581 non-null   string
 6   session_id               7581 non-null   int64
 7   session_title            7581 non-null   string
 8   participant_ref          7581 non-null   int64
 9   academicdegree           7581 non-null   string
 10  affiliationorganisation  7581 non-null   string
 11  affiliationcity          7581 non-null   string
 12  affiliationcountry       7575 non-null   string
 13  author_id                7581 non-null   int64
dtypes: int64(5), string(9)
memory usage: 829.3 KB
None
                id                                              title  \
count   7581.00000                                               7581
unique         NaN                                               4082
top            NaN  Treatment of chronic depression: Nothing we do...
freq           NaN                                                 12
mean    2160.71455                                                NaN
std     1322.90172                                                NaN
min        1.00000                                                NaN
25%     1040.00000                                                NaN
50%     2070.00000                                                NaN
75%     3032.00000                                                NaN
max     4871.00000                                                NaN

       language content_raw     topic_id          topic_title   session_id  \
count      7581        7575  7581.000000                 7581  7581.000000
unique        2        2428          NaN                   43          NaN
top     English                      NaN  Affective disorders          NaN
freq       6679        3685          NaN                  456          NaN
mean        NaN         NaN    18.974014                  NaN   620.479488
std         NaN         NaN    11.638043                  NaN   333.009131
min         NaN         NaN     1.000000                  NaN     1.000000
25%         NaN         NaN     9.000000                  NaN   338.000000
50%         NaN         NaN    18.000000                  NaN   588.000000
75%         NaN         NaN    26.000000                  NaN   927.000000
max         NaN         NaN    44.000000                  NaN  1242.000000

                                      session_title  participant_ref  \
count                                          7581      7581.000000
unique                                          916              NaN
top     Prevention, health care policy and research              NaN
freq                                             34              NaN
mean                                            NaN      3261.630128
std                                             NaN      1732.302094
min                                             NaN         6.000000
25%                                             NaN      1873.000000
50%                                             NaN      3309.000000
75%                                             NaN      4290.000000
max                                             NaN      9734.000000

       academicdegree affiliationorganisation affiliationcity  \
count            7581                    7581            7581
unique             30                    3112             948
top               Dr.                    2966          Berlin
freq             2805                      22             468
mean              NaN                     NaN             NaN
std               NaN                     NaN             NaN
min               NaN                     NaN             NaN
25%               NaN                     NaN             NaN
50%               NaN                     NaN             NaN
75%               NaN                     NaN             NaN
max               NaN                     NaN             NaN

       affiliationcountry    author_id
count                7575  7581.000000
unique                 99          NaN
top               Germany          NaN
freq                 2854          NaN
mean                  NaN  2156.847514
std                   NaN  1317.955858
min                   NaN     1.000000
25%                   NaN  1040.000000
50%                   NaN  2068.000000
75%                   NaN  3030.000000
max                   NaN  4849.000000
     id                                              title language  \
0    10  Psychiatry in National Socialism: remembrance ...  English
1  1477  Mortality in severe mental illness: first time...  English
2  1477  Mortality in severe mental illness: first time...  English
3  2383  The society of German neurologists and psychia...  English
4    52  Confronting the Nazi era # lessons from the Ge...  English

                                         content_raw  topic_id  \
0  <objective>More than 400,000 people were forci...        28
1  <objective>International research has shown in...        15
2  <objective>International research has shown in...         9
3                                                           28
4  <objective>Psychiatrists play a dual role in t...        26

                                         topic_title  session_id  \
0                 History, art and cultural sciences          10
1           Cross-disorder mechanisms and principles         343
2  Comorbidity of somatic and mental disorders, p...         343
3                 History, art and cultural sciences         620
4                              Ethics and philosophy          94

                                       session_title  participant_ref  \
0  Psychiatry in National Socialism: remembrance ...             2869
1  Increased morbidity and mortality among patien...             2869
2  Increased morbidity and mortality among patien...             2869
3  DGPPN anniversary symposium: Psychiatric profe...             2869
4  Psychiatry and national security: challenges i...             2869

  academicdegree affiliationorganisation affiliationcity affiliationcountry  \
0  Prof. Dr. Dr.                    2869          Aachen            Germany
1  Prof. Dr. Dr.                    2869          Aachen            Germany
2  Prof. Dr. Dr.                    2869          Aachen            Germany
3  Prof. Dr. Dr.                    2869          Aachen            Germany
4  Prof. Dr. Dr.                    2869          Aachen            Germany

   author_id
0         10
1       1476
2       1476
3       2381
4         52

In [11]:
print(df['participant_ref'].value_counts(dropna=False))

participant_ref
2966    22
2636    21
5799    21
1413    20
3073    20
        ..
7573     1
7570     1
7521     1
7518     1
7751     1
Name: count, Length: 3112, dtype: int64

In [12]:
## TROUBLESHOOTING
# Check raw authors field in the original JSON-parsed data for a row with NaN
# df_raw.loc[nan_participants.index[0], 'authors']
# Was 'participant_ref' present in all authors before flattening?
df_raw['authors'].apply(lambda lst: all('participant_ref' in d for d in lst if isinstance(d, dict))).value_counts()

authors
True    7604
Name: count, dtype: int64

In [13]:
# CHECK ABSTRACTS IN MULTIPLE SESSIONS. ONLY "CLOSING STATEMENT"
# Step 1: Group by abstract ID and count unique session IDs
session_counts = df.groupby('id')['session_id'].nunique()

# Step 2: Filter for abstracts linked to more than one session
multi_session_ids = session_counts[session_counts > 1].index

# Step 3: Display those abstracts with their session IDs
conflicts = df[df['id'].isin(multi_session_ids)][['id', 'session_id']].drop_duplicates()

# Print result
if not conflicts.empty:
    print("Abstracts linked to multiple sessions:")
    print(conflicts.sort_values(by='id'))
else:
    print("No abstracts are linked to multiple sessions.")

Abstracts linked to multiple sessions:
        id  session_id
5445  4866         570
6608  4866         859

In [14]:
# HANDLE DUPLICATES
# Count total number of rows
total_rows = len(df)
print(f"Total rows: {total_rows}")

# Count true duplicate rows (i.e., every value across all columns is identical)
duplicate_mask = df.duplicated(keep='first')
num_duplicates = duplicate_mask.sum()
print(f"Number of true duplicate rows: {num_duplicates}")

# drop
df = df.drop_duplicates()
df = df.reset_index(drop=True)

Total rows: 7581
Number of true duplicate rows: 57

In [15]:
# Fix missing values

# All missing in "affiliationcountry" are Kosovo
print(df[df["affiliationcountry"].isna()]["affiliationcity"])
df["affiliationcountry"] = df["affiliationcountry"].fillna("Kosovo")

# Replace null with "" in "content_raw"
df["content_raw"] = df["affiliationcountry"].fillna("")

3953    Prishtina
3954    Prishtina
3955    Prishtina
6001      Prizren
7057    Prishtina
7386      Prizren
Name: affiliationcity, dtype: string

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7524 entries, 0 to 7523
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7524 non-null   int64
 1   title                    7524 non-null   string
 2   language                 7524 non-null   string
 3   content_raw              7524 non-null   string
 4   topic_id                 7524 non-null   int64
 5   topic_title              7524 non-null   string
 6   session_id               7524 non-null   int64
 7   session_title            7524 non-null   string
 8   participant_ref          7524 non-null   int64
 9   academicdegree           7524 non-null   string
 10  affiliationorganisation  7524 non-null   string
 11  affiliationcity          7524 non-null   string
 12  affiliationcountry       7524 non-null   string
 13  author_id                7524 non-null   int64
dtypes: int64(5), string(9)
memory usage: 823.1 KB